{% extends 'base.html' %}
{% load material_form %}
{% load custom_tags %}
{% block title %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>
        Tasks
    </title>
{% endblock %}
{% block content %}

    <div class="container">
    <h1 style="margin-top: 7%;" class="jumbotron">Task List</h1>
        <div class="row" style="min-height: 400px; max-height: 400px;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Accepted On</th>
                </tr>
                </thead>
                <tbody>
                {% for task in accepted_task %}

                    <tr>
                        <th scope="row">{{ forloop.counter0 | add:page_obj.start_index }}</th>
                        <td>{{ task.delivery_tak.title_name }}</td>
                        <td>{{ task.delivery_tak.priority  | get_priority  }}</td>
                        <td>{{ task.state | get_state }}</td>
                    <td><button class="btn btn-danger"> <a  href="{% url 'delivery_system:decline_task' page_number=page_obj.number id=task.delivery_tak.id %}" style="color: white;">Decline</a></button> </td>
                    <td><button class="btn btn-success"> <a  href="{% url 'delivery_system:complete_task' page_number=page_obj.number id=task.delivery_tak.id %}" style="color: white;">Complete</a></button> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="pagination">
    <span class="step-links">


        <span class="current lead">
             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_previous %}
            <a class="btn lead" href="?page=1">&laquo; first</a>
            <a class="btn lead" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn lead" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn lead" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>
        </div>
    </div>
{% endblock %}